<RadSideDrawer>
  <StackLayout class="sidedrawer-left" tkDrawerContent backgroundColor="white">
    <StackLayout class="sidedrawer-header" height="auto" *ngIf="authService.isAuth">
      <Image [src]="blog.logo" class="sidedrawer-header-image"></Image>
      <GridLayout class="m-b-10 p-0" rows="auto" columns="auto, *" (tap)="hello()">
        <StackLayout col="0">
          <Label [text]="blog.title" textWrap="true" class="sidedrawer-header-brand"></Label>
          <Label [text]="blog.url" textWrap="true"></Label>
        </StackLayout>
        <StackLayout col="1" verticalAlignment="center">
          <Label class="fas text-center" [text]="getIcon('f105')"></Label>
        </StackLayout>
      </GridLayout>
    </StackLayout>
    <!-- Auth buttons -->
    <FlexboxLayout height="100%" flexDirection="column" *ngIf="authService.isAuth">
      <RadListView [items]="appPages" flexGrow="1">
        <ng-template tkListItemTemplate let-page="item">
          <StackLayout class="sidedrawer-list-item" (tap)="onNavigationsTap(page.url)"
                       verticalAlignment="center" [nsRouterLink]="['/dash', page.url]"
                       nsRouterLinkActive="active">
            <Label class="fas sidedrawer-list-item-icon" [text]="getIcon(page.icon)"></Label>
            <Label [text]='page.title' alignSelf="center"
                   class="sidedrawer-list-item-text" textWrap="true" borderWidth="0"></Label>
          </StackLayout>
        </ng-template>
      </RadListView>
      <!-- Logout -->
      <StackLayout class="sidedrawer-list-item" (tap)="logOut()" verticalAlignment="center">
        <Label class="fas sidedrawer-list-item-icon" [text]="getIcon('f2f5')"></Label>
        <Label text='Logout' alignSelf="center"
               class="sidedrawer-list-item-text" textWrap="true" borderWidth="0"></Label>
      </StackLayout>
    </FlexboxLayout>
    <!-- Un-auth buttons -->
    <FlexboxLayout height="100%" flexDirection="column" *ngIf="!authService.isAuth">
      <!-- Login -->
      <StackLayout class="sidedrawer-list-item" (tap)="onNavigationsTap()"
                   verticalAlignment="center"
                   nsRouterLink="login"
                   nsRouterLinkActive="active">
        <Label class="fas sidedrawer-list-item-icon" [text]="getIcon('f2f6')"></Label>
        <Label text='Login' alignSelf="center"
               class="sidedrawer-list-item-text" textWrap="true" borderWidth="0"></Label>
      </StackLayout>
      <!-- Login -->
      <StackLayout class="sidedrawer-list-item" (tap)="onNavigationsTap()"
                   verticalAlignment="center"
                   nsRouterLink="start"
                   nsRouterLinkActive="active">
        <Label class="fas sidedrawer-list-item-icon" [text]="getIcon('f234')"></Label>
        <Label text='Get started' alignSelf="center"
               class="sidedrawer-list-item-text" textWrap="true" borderWidth="0"></Label>
      </StackLayout>
    </FlexboxLayout>
  </StackLayout>
  <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
