<RadSideDrawer>
  <StackLayout tkDrawerContent class="nt-drawer__content">
    <StackLayout *ngIf="authService.isAuth()" class="nt-drawer__header" height="auto">
      <StackLayout class="pull-left">
        <Image [src]="blog.media.logo.thumbnail_48x48" width="48" height="48"
               class="nt-drawer__header-image m-0" *ngIf="blog.media.logo"></Image>
      </StackLayout>
      <FlexboxLayout flexDirection="column" class="m-t-10">
        <Label [text]="blog.title" textWrap="true"></Label>
        <Label [text]="blog.url" textWrap="true"></Label>
      </FlexboxLayout>
    </StackLayout>
    <FlexboxLayout height="100%" flexDirection="column" *ngIf="authService.isAuth()">
      <ScrollView flexGrow="1">
        <ListView [items]="appPages" (itemTap)="onNavigationsTap($event)" separatorColor="white">
          <ng-template let-page="item">
            <StackLayout orientation="horizontal" class="p-y-10 p-x-20" [ngClass]="{'active': isRouteActive(page.url)}">
              <Label class="fas p-r-20" [text]="getIcon(page.icon)"></Label>
              <Label [text]='page.title' alignSelf="center" textWrap="true"></Label>
            </StackLayout>
          </ng-template>
        </ListView>
      </ScrollView>
      <StackLayout orientation="horizontal" class="p-y-10 p-x-20" (tap)="logOut()">
        <Label class="fas p-r-20" [text]="getIcon('f2f5')"></Label>
        <Label text='Logout' alignSelf="center" textWrap="true"></Label>
      </StackLayout>
    </FlexboxLayout>
  </StackLayout>
  <page-router-outlet tkMainContent class="nt-page"></page-router-outlet>
</RadSideDrawer>
